<script>
import {getFriendImages, getFriendList, getUsers} from "@/api";
import {mapGetters} from "vuex";

export default {
  name: "home",
  data: function() {
    return {
      userImage: []
    };
  },
  methods: {

  },
  computed: {
    ...mapGetters("user", ["userId", "friendList"]),
  },
  mounted() {
    this.$nextTick(function() {
     getFriendList().then(resp =>{
        this.$store.commit("user/SET_FRIENDS", resp.data);
            getFriendImages(this.userId).then(resp => {
              this.userImage = resp.data;
            });
      });
      getUsers().then(resp => {
        this.$store.commit("user/SET_USERS", resp.data);
      })
    });
  }
};
</script>

<template>
  <div class="flex justify-center items-center bg-gray-200">
    <div class="bg-white shadow overflow-hidden rounded lg:w-3/4 w-full mb-10">
      <p class="font-bold text-2xl text-center border-gray-400 border-b py-10 mb-5">Dernières publications</p>
      <div v-for="elem in this.userImage">
        <div class="mb-10 border-b border-gray-400 flex flex-col justify-center items-center">
          <p class="text-black font-bold mb-4 capitalize">{{elem.username}} : {{ elem.title}}</p>
          <img class="" v-bind:src="'data:image/jpeg;base64,' + elem.image"  alt=""/>
          <p class="italic mb-10 mt-5">{{elem.description}}</p>
        </div>
      </div>
    </div>
  </div>
</template>
