<script>
import Vuex from "vuex";
import InputBase from "@/components/app/InputBase";

export default {
  name: "loginPage",
  components: {InputBase},
  data: function() {
    return {
      ws_error: null,
      username: null,
      password: null
    };
  },
  computed: {},
  methods: {
    ...Vuex.mapActions("app", ["login"]),
    validateForm() {
      return this.$validator.validate().then(result => {
        if (result) this.loginUser();
      })
    },
    loginUser() {
        this.login({ username: this.username, password: this.password })
          .then(() => {
            this.ws_error = null;
            this.$router.push({ name: "home" });
          })
          .catch(err => {
            this.ws_error = "Identifiants incorrect"
          });
    }
  }
};
</script>

<template>
  <div class="h-screen flex justify-center items-center bg-gray-200">
    <div class="w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
            @submit.prevent
      >
        <div class="text-center mb-4">
          <h1 class="text-5xl italic font-bold">Pic'Share</h1>
        </div>
        <div class="mb-4">
          <InputBase
                 v-model="username"
                 id="username"
                 type="text"
                 placeholder="Email"
                 name="username"
                 :error="errors.first('username')"
                 @enter="validateForm()"
                 v-validate="'required'"
          />
        </div>
        <div class="mb-5">
          <InputBase
                 v-model="password"
                 id="password"
                 name="password"
                 type="password"
                 placeholder="Mot de passe"
                 :error="errors.first('password')"
                 @enter="validateForm()"
                 v-validate="'required'"
          />
        </div>
        <div :v-if="ws_error" class="text-center">
          <span  class="text-red-500 text-xm ml-2">{{ ws_error }}</span>
        </div>
        <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mb-4 rounded focus:outline-none focus:shadow-outline"
                type="button"
                @click="validateForm()"
        >
          Connexion
        </button>
      </form>
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-6 mb-4">
        <div>
          <p class=" text-center text-xs">Vous n'avez pas de compte ? <router-link class="text-blue-500" to="/register">Inscrivez-vous</router-link></p>
        </div>
      </div>
      <p class="text-center text-gray-500 text-xs">
        &copy;2020 Pic'Share.
      </p>
    </div>
  </div>
</template>

<style lang="scss" scoped></style>
