<template>
  <div class="flex justify-center items-center bg-gray-200">
    <div class="bg-white shadow overflow-hidden rounded lg:w-3/4 w-full mb-10">
      <div class="px-4 py-5 sm:px-6">
        <div class="grid grid-cols-2 mb-4">
          <p class="font-bold text-3xl flex-auto">{{getUsername}}</p>
          <div class="flex-auto">
            <div v-if="isCurrentUser">
              <button  @click="openModalUpload" class="rounded border-gray-400 border mt-2 p-1 bg-white text-xs mr-6 text-black active:outline-none">Upload images</button>
              <router-link to="/camera" class="rounded border-gray-400 border mt-2 p-1 bg-white text-xs  text-black active:outline-none"><a>Camera</a></router-link>
            </div>
            <div v-else-if="isUserFriend">
              <button  @click="" disabled class="rounded border-gray-400 border mt-2 p-1 bg-white text-xs mr-6 text-black hover:outline-none">Ami</button>
            </div>
            <div v-else-if="isAskingFriend">
              <button  @click="" disabled class="rounded border-gray-400 border mt-2 p-1 bg-white text-xs mr-6 text-black hover:outline-none">Demande en attente</button>
            </div>
            <div v-else>
              <button  @click="askFriend" class="rounded border-gray-400 border mt-2 p-1 bg-white text-xs mr-6 text-black hover:outline-none">Demande d'ami</button>
            </div>
          </div>
          <p class="flex-auto">{{this.userImage.length}} Photos</p>
        </div>
      </div>
      <div class="border-t border-gray-400" v-if="isCurrentUser || isUserFriend">
        <div class="mt-10">
          <div v-for="elem in this.userImage">
            <div class="mb-10 border-b border-gray-400 flex flex-col justify-center items-center">
              <p class="text-black font-bold mb-4 capitalize">{{elem.title}}</p>
              <img class="" v-bind:src="'data:image/jpeg;base64,' + elem.image"  alt=""/>
              <p class="italic mb-10 mt-5">{{elem.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <modal v-if="isModalVisible" :close-button="true" @close="isModalVisible = false">
      <div class="flex justify-center items-center">
      <form class="w-1/2" @submit.prevent>
        <div class="mb-4 pb-4">
        <InputBase placeholder="email" name="email" label="Email :" class="mb-4"></InputBase>
        <InputBase placeholder="username" name="username" label="Nom d'utilisateur : " class="mb-4"></InputBase>
        <InputBase placeholder="password" type="password" name="password" label="Mot de passe : " class="mb-6"></InputBase>
          <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mb-4 rounded focus:outline-none focus:shadow-outline"
                  type="button"
                  @click=""
          >
            Modifier le profil
          </button>
        </div>
      </form>
      </div>
    </modal >

    <modal v-if="modalUpload" :close-button="true" @close="modalUpload = false">
      <div class="flex justify-center items-center">
        <form  class="w-1/2" @submit.prevent>
          <div class="flex">
          <button  @click="$refs.fileInput.click()" class="rounded border-gray-400 border mt-2 p-1 mb-4 bg-white text-xs text-black active:outline-none mr-6">choisir image</button>
          <input
              style="display: none"
              type="file"
              @change="onSelectedFile"
              ref="fileInput"
              accept="image/*"
          />
          <p class="mt-2 p-1">Photo selectionné : <span v-if="this.selectedFile">{{ this.selectedFile.name }}</span></p>
          </div>
          <div class="mb-4">
            <InputBase
                v-model="titleUpload"
                id="titleUpload"
                type="text"
                placeholder="titre"
                name="titleUpload"
                @enter=""
            />
          <InputBase
              v-model="descriptionUpload"
              id="descriptionUpload"
              type="text"
              placeholder="description"
              name="descriptionUpload"
              @enter=""
          />
          </div>
          <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mb-4 rounded focus:outline-none focus:shadow-outline"
                  type="button"
                  @click="convertImageB64"
          >
            Publier la photo
          </button>
        </form>
      </div>
    </modal>
  </div>
</template>

<script>
import Vuex, {mapActions, mapGetters} from "vuex";
import {getCurrentUserImages, getUser, uploadImage, addFriend, getFriendList, getFriendImage} from "@/api";
import Modal from "@/components/UI/Modal";
import InputBase from "@/components/app/InputBase";
import Photo from "@/components/Camera/Photo";

export default {
  name: "profile",
  components: {Photo, InputBase, Modal},
  computed: {
    ...mapGetters("user", ["username", "email", "userId", "friendList"]),
    ...mapActions("user", ["getUserFriendList"]),
    getUsername() {
      return this.requestUser.username;
    },
    isCurrentUser() {
      if (this.$route.params.userId !== this.userId) {
        getUser(this.$route.params.userId).then(resp => {
          this.requestUser = resp.data;
        })
        this.friendList.forEach(elem => {
          if (elem.uuid === this.$route.params.userId && elem.status === "accepted") {
            getFriendImage(this.$route.params.userId).then(resp => {
              this.userImage = resp.data;
            });
          }
        });
      } else {
        this.requestUser = {
          username:this.username,
        }
        getCurrentUserImages().then(resp => {
          this.userImage = resp.data;
        })

      }
      return this.$route.params.userId === this.userId;
    },
    isUserFriend() {
      let bool = false;

      this.friendList.forEach(elem => {
        if (elem.uuid === this.$route.params.userId && elem.status === "accepted")
          bool = true;
      })
      return bool;
    },
    isAskingFriend() {
      let bool = false;
      this.friendList.forEach(elem => {
        if (elem.uuid === this.$route.params.userId && elem.status === "pending")
          bool = true;
      })
      return bool;
    }
  },
  data: function() {
    return {
      isModalVisible: false,
      ws_error: null,
      selectedFile: null,
      image: '',
      requestUser : {
        username: null,
      },
      userImage: [],
      modalUpload: false,
      descriptionUpload: null,
      titleUpload: null,
    };
  },
  mounted() {
    this.$nextTick(async function() {
      getFriendList().then(resp =>{
        this.$store.commit("user/SET_FRIENDS", resp.data);
      })
    });
  },
  methods: {
    close() {
      this.$emit('close');
    },
    askFriend() {
      let id = this.requestUser.uuid;
      addFriend(id).then(elem => {
        getFriendList().then(resp =>{
          this.$store.commit("user/SET_FRIENDS", resp.data);
        })
      });
    },
    showModal() {
      this.isModalVisible = true;
    },
    onSelectedFile(e) {
      this.selectedFile = e.target.files[0];
    },
    convertImageB64() {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.image = e.target.result;
        this.onUpload();
      }
      reader.readAsDataURL(this.selectedFile);
    },
    onUpload() {
      uploadImage({
        title: this.titleUpload,
        description: this.descriptionUpload,
        file: this.image,
      }).then(elem => {
        this.modalUpload = false;
        getCurrentUserImages().then(resp => {
          this.userImage = resp.data;
        })
      })
    },
    openModalUpload() {
      this.modalUpload = true;
    },
  },
}
</script>

<style>

</style>
