<template>
  <div class="h-screen flex justify-center items-center bg-gray-200">
    <div class="w-full max-w-xs">
      <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="text-center mb-4">
          <h1 class="text-5xl italic font-bold">Pic'Share</h1>
          <p class="text-gray-500 font-bold">Inscrivez-vous pour voir les photos de vos amis</p>
        </div>
        <div class="mb-4">
          <InputBase
              v-model="email"
              id="email"
              type="text"
              placeholder="Email"
              name="email"
              :error="errors.first('email')"
              @enter="validateForm()"
              v-validate="'required'"
          />
        </div>
        <div class="mb-4">
          <InputBase
              v-model="username"
              id="username"
              type="text"
              placeholder="Nom d'utilisateur"
              name="username"
              :error="errors.first('username')"
              @enter="validateForm()"
              v-validate="'required'"
          />
        </div>
        <div class="mb-5">
          <InputBase
              v-model="password"
              id="password"
              name="password"
              type="password"
              placeholder="Mot de passe"
              :error="errors.first('password')"
              @enter="validateForm()"
              v-validate="'required'"
          />
        </div>
        <div :v-if="ws_error" class="text-center">
        <span  class="text-red-500 text-xm ml-2">{{ ws_error }}</span>
        </div>
        <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mb-4 rounded focus:outline-none focus:shadow-outline"
                type="button"
                @click="validateForm()"
        >
          Inscription
        </button>
      </form>
      <div class="bg-white shadow-md rounded px-8 pt-6 pb-6 mb-4">
        <div>
          <p class=" text-center text-xs">Vous avez un compte ? <router-link class="text-blue-500" to="/login">Connectez-vous</router-link></p>
        </div>
      </div>
      <p class="text-center text-gray-500 text-xs">
        &copy;2020 Pic'Share.
      </p>
    </div>
  </div>
</template>

<script>
import InputBase from "@/components/app/InputBase";
import {register} from "@/api";
import Vuex from "vuex";

export default {
  name: "Register",
  data: function () {
    return {
      username: null,
      email: null,
      password: null,
      ws_error: null,
    }
  },
  components: {InputBase},
  methods: {
    ...Vuex.mapActions("app", ["login"]),
    validateForm() {
      return this.$validator.validate().then(result => {
        if (result) this.registerUser();
      })
    },
    registerUser() {
      register({email: this.email, username: this.username, password: this.password})
          .then(() => {
        this.ws_error = null;
        this.login({username: this.email, password: this.password}).then(() => {
          this.$router.push({name: "home"});
        })
      })
          .catch(err => {
            if (err.response.data.error === "Email already exists") {
              this.ws_error = "Cette adresse email ou ce nom d'utilisateur est déjà utilisé"
            }
          });
    }
  }
}
</script>

<style scoped>

</style>
