<template>
  <div class="flex justify-center items-center ">
    <div class="bg-white shadow overflow-hidden rounded lg:w-3/4 w-full mb-10">
    <ul id="example-1" class="">
      <div v-for="item in this.friendList">
        <li v-if="item.sentByMe === false && item.status === 'pending'" class="flex justify-center items-center border-b border-gray-400 mt-5 pb-5">
          <p class="font-bold text-2xl">{{item.username}}</p>
          <button  @click="acceptRequest(item)" class="ml-6 rounded border-green-400 border p-1 bg-white text-xs mr-6 text-green-400 hover:outline-none">Accepter</button>
          <button  @click="refuseRequest(item)" class="rounded border-red-400 border p-1 bg-white text-xs mr-6 text-red-400 hover:outline-none">Refuser</button>
        </li>
      </div>
    </ul>
    <div v-if="isListEmpty === true">
      <p class="font-bold text-2xl text-center">Aucunes demandes d'amis</p>
    </div>
    </div>
  </div>
</template>

<script>
import Vuex, {mapGetters, mapActions} from "vuex";
import {acceptFriend, getFriendList, refuseFriend} from "@/api";

export default {
name: "RequestList",
  computed: {
    ...mapGetters("user", ["friendList"]),
    isListEmpty() {
      let bool = true;
      this.friendList.forEach(elem => {
        if (elem.status === "pending" && elem.sentByMe === false)
          bool = false;
      })
      return bool;
    },
  },
  mounted() {
    this.$nextTick(async function () {
      getFriendList().then(resp => {
        this.$store.commit("user/SET_FRIENDS", resp.data);
      })
    });
  },
  methods: {
    async acceptRequest(item) {
      acceptFriend(item.uuid).then(resp => {
        getFriendList().then(resp =>{
          this.$store.commit("user/SET_FRIENDS", resp.data);
        })
      })
    },
    refuseRequest(item) {
      refuseFriend(item.uuid).then(resp => {
        getFriendList().then(resp =>{
          this.$store.commit("user/SET_FRIENDS", resp.data);
        })
      });
    },
  },
  data: function() {
    return {
    }
  }
}
</script>

<style scoped>

</style>
