<!--suppress ALL -->
<template>
  <div id="app" class=" text-gray-700">
    <div class="background bg-gray-200 text-sm"></div>
    <div id="nav" v-if="isLogedin">
      <Header></Header>
    </div>
    <!-- <router-view /> -->
    <keep-alive>
      <router-view
        v-if="$route.meta.keepAlive"
        class="mx-auto "
        :class="[{'px-6 pt-5 mb-8 md:w-10/12  lg:w-10/12': !$route.meta.fullWidth}]"
      ></router-view>
    </keep-alive>

    <router-view
      v-if="!$route.meta.keepAlive"
      class="mx-auto"
      :class="[{'px-6 pt-5 mb-8 lg:w-10/12': !$route.meta.fullWidth}]"
    ></router-view>
  </div>
</template>
<script>

import store from "@/store";
import Vuex from "vuex";
import Header from "@/components/app/Header";

export default {
  name: "AppPage",
  components: {Header},
  store: store,
  mounted() {
    this.$nextTick(async function() {
    });
  },
  computed: {
    ...Vuex.mapGetters("user", ["isLogedin"]),

  },
};
</script>

<style lang="scss">
html,
body {
  height: 100%;
}
#app {
  font-family: "Nunito", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

.background {
  @apply w-screen h-screen fixed top-0 left-0;
  z-index: -1;
  /*background: url("./assets/svg/hexagons.svg");*/
  /*background-color: #2d3748;*/
  /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%234a5568' fill-opacity='0.35' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");*/
}
</style>
