<template>
  <div class="flex justify-center items-center bg-gray-200">
    <div class="bg-white shadow overflow-hidden rounded lg:w-3/4 w-full mb-10">
      <div class="p-6">
        <div class="items-center">
          <video
              class="video place-self-start float-left w-full z-0"
              :class="facingMode === 'user' ? 'front' : ''"
              ref="video"
          />
          <button class="button photo-button place-self-center flex-1" @click="TakePhoto">
            <font-awesome-icon icon="camera"></font-awesome-icon>
          </button>
          <canvas style="display: none" ref="canva" />


          <modal v-if="isModalVisible" :close-button="true" @close="isModalVisible = false">
            <div class="flex justify-center items-center">
              <form class="w-1/2" @submit.prevent>
                <div class="mb-4 pb-4">
                  <photo
                      class="list-animated-item"
                      :key="photos[this.i].id"
                      :src="photos[this.i].src"
                      v-on:remove="photos.splice(photos.findIndex(p => p.id === photos[this.i].id), 1)"
                  />
                  <div class="mb-4">
                  <InputBase
                      v-model="titleUpload"
                      id="titleUpload"
                      type="text"
                      placeholder="titre"
                      name="titleUpload"
                      @enter=""
                  />
                  <InputBase
                      v-model="descriptionUpload"
                      id="descriptionUpload"
                      type="text"
                      placeholder="description"
                      name="descriptionUpload"
                      @enter=""
                  />
                  </div>
                  <button class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 mb-4 rounded focus:outline-none focus:shadow-outline"
                          type="button"
                          @click="publishPicture"
                  >
                    Publier
                  </button>
                </div>
              </form>
            </div>
          </modal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vuex, {mapGetters} from "vuex";

import Photo from "@/components/Camera/Photo";
import InputBase from "@/components/app/InputBase";
import Modal from "@/components/UI/Modal";
import {getCurrentUserImages, uploadImage} from "@/api";

export default {
  components: {
    Photo,
    Modal,
    InputBase,
  },
  computed: {
    ...mapGetters("user", ["userId"]),
  },
  data() {
    return {
      tracks: null,
      photos: [],
      mediaStream: null,
      videoDevices: [],
      facingMode: "environment",
      counter: 0,
      switchingCamera: false,
      isModalVisible: false,
      i: -1,
      titleUpload: null,
      descriptionUpload: null,
    };
  },
  beforeDestroy: function() {
    this.tracks = this.mediaStream.getTracks();
    this.tracks[0].stop();
  },
  methods: {
    publishPicture() {
      uploadImage({
        title: this.titleUpload,
        description: this.descriptionUpload,
        file: this.photos[this.i].src.replace("data:image/png;base64,", "")
      }).then(elem => {
        getCurrentUserImages().then(resp => {
          this.userImage = resp.data;
        })
      })
      this.$router.push({ name: 'profil', params: { userId: this.userId}});
    },
    async StartRecording(facingMode) {
      this.facingMode = facingMode;
      let video = this.$refs.video;
      this.mediaStream = await navigator.mediaDevices.getUserMedia({
        video: { facingMode: facingMode },
      })
        .catch(error => {
          alert("Si vous bloquez notre application vous ne pourrez plus prendre de photos.\n" +
              "Pour debloquer rendez-vous ici: chrome://settings/content/camera");
        })
      video.srcObject = this.mediaStream;
      return await video.play();
    },
    async TakePhoto() {
      this.i += 1;
      this.isModalVisible = true;

      let video = this.$refs.video;
      let canva = this.$refs.canva;
      let width = video.videoWidth;
      let height = video.videoHeight;
      canva.width = width;
      canva.height = height;
      let ctx = canva.getContext("2d");
      ctx.save();

      if (this.facingMode === "user") {
        ctx.scale(-1, 1);
        ctx.drawImage(video, width * -1, 0, width, height);
      } else {
        ctx.drawImage(video, 0, 0);
      }

      ctx.restore();

      this.photos.push({
        id: this.counter++,
        src: canva.toDataURL("image/png"),
      });
    },
    async switchCamera() {
      this.switchingCamera = true;
      const tracks = this.mediaStream.getVideoTracks();
      tracks.forEach((track) => {
        track.stop();
      });
      await this.StartRecording(
          this.facingMode === "environment" ? "user" : "environment"
      );
      this.switchingCamera = false;
    },
  },
  async mounted() {
    const devices = await navigator.mediaDevices.enumerateDevices();
    this.videoDevices = devices.filter((d) => d.kind === "videoinput");
    await this.StartRecording(
        this.videoDevices.length === 1 ? "user" : "environment"
    );
  },
};
</script>

<style scoped>
.video.front {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.wrapper {
  background-color: black;
  display: grid;
  grid-template-columns: [left] 90vw [bs] 5vw [es] 5vw [right];
  grid-template-rows: [top] 5vh [bs] 5vh [es] 60vh [middle] 10vh [bottom] 20vh [end];
  justify-items: center;
}

.video {
  height: 100%;
  grid-column: left/right;
  grid-row: top / bottom;
  user-select: none;
  max-width: unset;
}

.switch-button {
  grid-column: bs / es;
  grid-row: bs / es;
  z-index: 5;
  border-radius: 100%;
  width: 6vh;
  height: 6vh;
  font-size: 2vh;
}

.photo-button-container {
  grid-column: left / right;
  grid-row: middle / bottom;
  z-index: 5;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.photo-button {
  width: 10vh;
  height: 10vh;
  border-radius: 100%;
}

.photo-button {
  font-size: 4vh;
  color: black;
}
.gallery {
  grid-column: left / right;
  grid-row: bottom / end;
}
</style>
