<template>
    <img :src="src"/>
</template>

<script>
export default {
  props: {
    src: {
      type: String,
      default: null,
    },
  },
  methods: {
  }
};
</script>

<style scoped>
img {
  height: 100%;
  width: 100%;
}
</style>