<template>
  <header class="bg-white">
    <div class="flex justify-around p-2">
      <div>
        <h1 class="text-2xl text-black italic font-bold">Pic'Share</h1>
      </div>
      <div>
        <Autocomplete
            :items="allUsers"
            property-to-display="username"
            placeholder="Rechercher"
            @selected="viewProfileSelected"
            v-model="userSelected"
        >
        </Autocomplete>
      </div>
      <div class="flex">
        <div class="inline-flex justify-center mr-3 py-2 px-2">
          <div>
            <router-link to="/"><font-awesome-icon icon="home" class="mt-1 transform scale-150"></font-awesome-icon></router-link>
          </div>
        </div>
        <div class="inline-flex justify-center mr-3 px-2 py-2 ">
          <div>
            <router-link to="/request"><font-awesome-icon icon="paper-plane" class="mt-1 transform scale-150"></font-awesome-icon></router-link>
          </div>
        </div>
        <div v-on-clickaway="clickAway">
        <div class="relative inline-block text-left">
          <div>
            <button type="button"
                    class="inline-flex justify-center w-full
                    px-2 py-2 bg-white text-sm font-medium text-gray-700 focus:outline-none"
                    id="options-menu"
            @click="toggle">
              <font-awesome-icon icon="user" class="mr-3 mt-1 transform scale-150"></font-awesome-icon>
                <font-awesome-icon v-if="!isMenuActive" icon="angle-up"></font-awesome-icon>
                <font-awesome-icon v-else-if="isMenuActive" icon="angle-down"></font-awesome-icon>
            </button>
          </div>
          <div v-show="isMenuActive"   class="origin-top-right absolute right-0 mt-2 w-56 rounded-md border shadow-lg bg-white ring-1 ring-black ring-opacity-5 z-10">
            <div class="py-1">
              <div>
                <a  class="block px-4 py-2 text-sm text-gray-700 border-b focus:outline-none">Connecté en tant que :<p class="text-black font-bold">{{ username }}</p></a>
              </div>
              <a @click="toggle"><router-link :to="{name:'profil', params: {userId:userId}}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">Profil</router-link></a>
              <button @click="logoutUser" class="block px-4 py-2 text-sm w-full text-left text-red-500 border-t focus:outline-none hover:bg-gray-100 hover:text-red-700">Deconnexion</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="border-b border-gray-500 mb-6"></div>
  </header>

</template>

<script>
import Vuex, {mapGetters} from "vuex";
import { directive as onClickaway } from 'vue-clickaway';
import Autocomplete from "@/components/UI/Autocomplete";

export default {
  name: "Header",
  components: {Autocomplete},
  data: function() {
    return {
      isMenuActive: false,
      userSelected: null,
    };
  },
  directives: {
    onClickaway: onClickaway,
  },
  methods: {
    ...Vuex.mapActions("app", ["logout"]),
    logoutUser() {
      this.logout().then(() => {
        this.$router.push({ name: "login" });
      })
    },
    toggle() {
      this.isMenuActive = !this.isMenuActive;
    },
    clickAway() {
      if (this.isMenuActive) {
        this.isMenuActive = false;
      }
    },
    viewProfileSelected() {
      this.$router.push({ name: 'profil', params: { userId: this.userSelected.uuid }});
    }
  },
  computed: {
    ...mapGetters("user", ["username", "allUsers", "userId"]),
  },
}

</script>

<style scoped>

</style>
