<template>
  <label class="flex flex-col">
    <span class="" :class="classLabel" v-if="label || error">{{ label }} <span class="text-red-500 text-xs ml-2">{{error}}</span></span>
    <input
        :class="[classInput, readonly ? 'border-purple-500' :'' ]"
        :name="name"
        :type="type"
        :value="value"
        :disabled="disabled"
        :placeholder="placeholder"
        :min="min"
        :max="max"
        @input="$emit('input', $event.target.value)"
        @change="$emit('input', $event.target.value)"
        @blur="$emit('blur', $event.target.value)"
        @focus="$emit('focus', $event.target.value)"
        @keydown.enter="$emit('enter', $event.target.value)"
        @keydown.tab="$emit('tab', $event.target.value)"
        :readonly="readonly"
    />
  </label>
</template>

<script>
export default {
  name: "InputBase",
  data: function() {
    return {};
  },
  computed: {
    classLabel () {
      return this.clsLabel ? this.clsLabel : "text-gray-700 py-1";
    },
    classInput () {
      return this.clsInput ? this.clsInput : "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline";
    }
  },
  props: {
    name: {
      type: String,
      required: true
    },
    label: {
      type: String,
      default: ""
    },
    placeholder: {
      type: String,
      default: ""
    },
    min: {type: Number | String, default: undefined},
    max: {type: Number | String, default: undefined},
    disabled: {
      type: Boolean,
      default: false
    },
    readonly: {
      type: Boolean,
      default: false
    },
    value: {type: Number | String, default: undefined},
    type: {
      type: String,
      default: "text",
      validate: val => {
        // we only cover these types in our input components.
        return (
            ["text", "url", "email", "password", "number"].indexOf(val) !== -1
        );
      }
    },
    clsLabel : {
      type: String,
      default: null
    },
    clsInput : {
      type: String,
      default: null
    },
    error: {
      type: String
    },
  },
  methods: {}
};
</script>
