<template>
  <div class="outline-none relative" :class="classComponent">
    <div class="flex flex-row items-center relative">
      <input
          :id="name"
          type="text"
          :name="name"
          class="bg-white p-2 text-sm rounded text-gray-800 disabled:opacity-50 border-2 border-gray-400 border-transparent focus:border-blue-500 hover:outline-none w-full"
          :class="[
          { 'pr-12': closeButton },
          !editable ? 'border-purple-500' : ''
        ]"
          v-model="search"
          @input="filterItems"
          @keyup.enter="onEnter"
          @keydown.down="onArrowDown"
          @keydown.up="onArrowUp"
          @focus="focus"
          @keyup.esc="clear"
          :placeholder="placeholder"
          :disabled="disable"
          autocomplete="off"
          :readonly="!editable"
      />

      <button
          class="absolute right-0 px-2 py-1 text-gray-500 mr-3 rounded hover:outline-none active:outline-none"
          @click.stop="clear"
          v-if="closeButton && !disable"
      >
        <slot name="closeButton">
          <font-awesome-icon icon="times" />
        </slot>
      </button>
    </div>

    <div
        class="autocomplete-list-wrapper border bg-white text-gray-700 border-gray-500"
        :class="[classWrapper]"
        v-if="displayResult"
    >
      <ul class="autocomplete-list" :class="classList">
        <li
            v-for="(item, index) in results"
            class="autocomplete-list-item border-b border-gray-400 hover:bg-gray-100 hover:text-gray-900"
            :class="rowClass(index)"
            :key="item.id"
            @click="select(item)"
        >
          <slot name="listItem" v-bind:item="item">{{
              item[propertyToDisplay]
            }}</slot>
        </li>
        <li class="search-result-item-disabled" v-if="results.length === 0">
          {{ emptyResults }}
        </li>
      </ul>
    </div>
  </div>
</template>

<style scoped>
.autocomplete {
  position: relative;
}
.autocomplete-clear-btn {
  /*position: relative;*/
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  padding: 4px 8px;
  outline: none;
  font-weight: 300;
  border: none;
}
.autocomplete-input {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.autocomplete-input-custom {
  /*padding: 0.7rem;*/
  /*border-radius: 4px;*/
}
.autocomplete-list-wrapper {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 500;
  border-radius: 4px;
}
.autocomplete-list-wrapper-custom {
  left: 50%;
  transform: translate(-50%, 0.75rem);
}
.autocomplete-list {
  padding: 0;
  margin: 0;
  overflow: auto;
}
.autocomplete-list-custom {
  border-radius: 4px;
  box-shadow: 1px 1px 4px #80808042;
  max-height: 300px;
}
.autocomplete-list-item {
  list-style: none;
  cursor: pointer;
}
.autocomplete-list-item-custom {
  padding: 0.8rem;
}

.search-result-item-disabled {
  padding: 0.8rem;
}
</style>

<script>
export default {
  name: "Autocomplete",
  data: function() {
    return {
      search: "",
      results: this.items,
      displayResult: false,
      arrowCounter: -1
    };
  },
  props: {
    label: { type: String, default: "label" },
    name: { type: String, default: "default" },
    items: {
      type: Array,
      required: true
    },
    value: {
      type: Object,
      required: false
    },
    placeholder: {
      type: String,
      default: "Search"
    },
    emptyResults: {
      type: String,
      default: "Pas de résultat"
    },
    propertyToDisplay: {
      type: String,
      default: "label"
    },
    disable: {
      type: Boolean,
      default: false
    },
    editable: {
      type: Boolean,
      default: true
    },
    nofilter: {
      type: Boolean,
      default: false
    },
    classComponent: {
      type: String,
      default: ""
    },
    classInput: {
      type: String,
      default: "autocomplete-input-custom"
    },
    classWrapper: {
      type: String,
      default: "autocomplete-list-wrapper-custom"
    },
    classList: {
      type: String,
      default: "autocomplete-list-custom"
    },
    classItem: {
      type: String,
      default: "autocomplete-list-item-custom"
    },
    classItemActive: {
      type: String,
      default: "autocomplete-item-active-custom"
    },
    closeButton: {
      type: Boolean,
      default: true
    },
    clearOnFocus: {
      type: Boolean,
      default: false
    },
    error: {
      type: String
    }
  },
  mounted: function() {
    this.$nextTick(function() {
      this.initialiseWithValue();
    });
  },
  watch: {
    items(newValue) {
      this.results = newValue;
      if (typeof this.value === "undefined" || this.value === null) return;
      const item = newValue.find(item => item["id"] === this.value.id);
      if (item !== undefined) {
        this.search = item[this.propertyToDisplay];
      }
    },
    value(newValue) {
      if (newValue != undefined) {
        this.search = newValue[this.propertyToDisplay];
      } else {
        this.search = "";
      }
    }
  },
  computed: {},
  methods: {
    initialiseWithValue() {
      if (!!this.value && this.value[this.propertyToDisplay] !== undefined) {
        this.search = this.value[this.propertyToDisplay];
      }
    },
    focus() {
      this.$emit("focused");
      if (this.clearOnFocus) {
        this.clear();
      }
    },
    filterItems() {
      this.openResult();
      this.arrowCounter = -1;
      this.results = this.nofilter
          ? this.items
          : this.items.filter(item =>
              item[this.propertyToDisplay]
                  .toLowerCase()
                  .includes(this.search.toLowerCase())
          );
      if (this.results.length === 0) {
        this.$emit("noResult");
      }
      if (this.search === "") {
        this.$emit("clear");
      }
    },
    select(value) {
      if (typeof value === "string") {
        const item = this.items.find(item =>
            item[this.propertyToDisplay]
                .toLowerCase()
                .includes(value.toLowerCase())
        );
        if (item !== undefined) this.throwSelected(item);
      } else if (typeof value === "object") {
        this.throwSelected(value);
      }
    },
    throwSelected(value) {
      this.closeResult();
      this.search = value[this.propertyToDisplay];
      this.$emit("input", value);
      this.$emit("selected", value);
    },
    openResult() {
      this.displayResult = true;
      document.addEventListener("click", this.handleoutsideClick);
    },
    closeResult() {
      this.displayResult = false;
      document.removeEventListener("click", this.handleoutsideClick);
    },
    handleoutsideClick(e) {
      if (!this.$el.contains(e.target)) {
        this.closeResult();
        document.removeEventListener("click", this.handleoutsideClick);
      }
    },
    onArrowDown() {
      if (this.arrowCounter < this.results.length - 1) {
        this.arrowCounter = this.arrowCounter + 1;
      } else {
        this.arrowCounter = 0;
      }
      this.followArrow();
    },
    onArrowUp() {
      if (this.arrowCounter > 0) {
        this.arrowCounter = this.arrowCounter - 1;
      } else {
        this.arrowCounter = this.results.length - 1;
      }
      this.followArrow();
    },
    onEnter() {
      console.log(this.arrowCounter)
      if (this.arrowCounter !== -1) {
        this.search = this.results[this.arrowCounter];
        this.arrowCounter = -1;
        this.select(this.search);
      } else {
        this.select(this.search);
      }
    },
    followArrow() {
      const el = document.getElementsByClassName(this.classItemActive);
      if (el.length > 0) {
        el[0].scrollIntoView({ behavior: "smooth", block: "center" });
      }
    },
    rowClass(index) {
      let custom = this.classItem;
      if (index == this.arrowCounter) custom += " " + this.classItemActive;
      return custom;
    },
    clear() {
      this.search = "";
      this.closeResult();
      this.$emit("input", undefined);
      this.$emit("clear");
    }
  }
};
</script>
