<template>
  <div>
    <div
        class="fixed top-0 left-0 w-screen h-screen z-40 bg-gray-700 opacity-75"
    ></div>
    <div
        class="modal-container fixed top-0 left-0 w-screen h-screen z-40 flex justify-center items-end md:items-center"
    >
      <div
          class="modal w-full md:w-3/4 lg:w-1/2 mx-auto overflow-y-auto md:rounded shadow outline-none bg-gray-200 text-gray-700"
          ref="modal"
          @keyup.esc="close"
          tabindex="0"
      >
        <div
            class="flex flex-row items-center justify-between pt-2 px-2"
            v-if="closeButton || title"
        >
          <h2 class="ml-2 font-bold text-xl">{{ title }}</h2>
          <button
              @click="close()"
              v-if="closeButton"
              class="text-black"
          >
            <font-awesome-icon icon="times" />
          </button>
        </div>
        <slot />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Modal",
  data() {
    return {
    };
  },
  props: {
    closeButton: { type: Boolean, default: false },
    title: { type: String, default: "" }
  },
  mounted() {
    this.$refs.modal.focus();
  },
  methods: {
    close() {
      this.$emit("close");
    }
  }
};
</script>

<style lang="scss" scoped>
.modal {
  height: 100vh;
}
@media (min-width: 768px) {
  .modal {
    height: auto;
    max-height: 80vh;
    &.sm {
      max-height: 80vh;
    }
  }
}
</style>